body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: rgb(235, 220, 241);  
   
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 200px;
}
 h1{
    color:#820000 ;
    margin: 50px auto;
    font-family: 'Great Vibes', cursive;
    font-size: 3.125rem;   
}
h2{
    color:#820000 ;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
}
h3{
    color: #10A19D;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
hr{
    border: dotted #e0f3f3 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
#top-cloud{
    width:180px;
    height:180px;
    position: absolute;
    right: 300px;
    top: 80px;
}
#bottom-cloud{
    width:180px;
    height:180px;
    position: absolute;
    left: 300px;
    bottom: 300px;
}
#mountain{
    width: 800px;
    height:500px;
}
.middle-container{
    margin: 100px 0; 

}
.intro{
    width: 24%;
    margin: auto;
}
.profile span{
    color:purple;
}
.profile img{
    width:300px;
    height: 300px;
    margin-top: 40px;
}
 
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;

   
}
.skill-row .code-img{
    width:30%;
    float: left;
    margin-right:30px;
}    
.skill-row .paint-img{
    width:25%;
    float: right;
    margin-left: 30px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


footer {
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;    
}
.bottom-container a i{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.bottom-container{
    display: flex;
    justify-content: center;
    text-align: center;   
}
.bottom-container img{
    height:40px ;
    width: 40px;
    padding: 10px;
}
   










  